<section id="projetos" class="flex flex-col w-full mt-10">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-end pb-4 mb-2 gap-4">
        <h2 class="text-3xl md:text-4xl font-extrabold text-foreground tracking-tight">
            Projetos em <span class="text-primary">Destaque</span>
        </h2>

        <a href="https://github.com/eduardofranco572" target="_blank" class="font-mono text-primary hover:brightness-125 transition-all text-sm flex items-center gap-2">
            ver github &rarr;
        </a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 w-full mt-6">
        @for (projeto of projectsList; track projeto.title) {
        <a [href]="projeto.link" target="_blank" class="bg-card border border-gray-800/40 hover:border-primary/80 transition-all duration-300 rounded-[20px] p-5 flex flex-col h-full group cursor-pointer block text-left">
            <div class="w-full h-[15rem] bg-[#1A1A1E] rounded-xl mb-5 overflow-hidden border border-gray-800/60 relative flex-shrink-0">
                <img 
                    [src]="projeto.image" 
                    [alt]="projeto.title" 
                    class="w-full h-full object-cover opacity-80 group-hover:opacity-100 group-hover:scale-105 transition-all duration-500" 
                />

                <div class="absolute inset-0 bg-primary/0 group-hover:bg-primary/10 transition-colors duration-300"></div>
            </div>

            <h3 class="text-lg font-bold text-foreground mb-2">{{ projeto.title }}</h3>
            <p class="text-mutedForeground text-sm flex-1 mb-6 leading-relaxed">
                {{ projeto.description }}
            </p>

            <div class="flex justify-between items-center mt-auto">
                <span class="text-primary text-xs font-mono">{{ projeto.category }}</span>
                
                <div class="w-8 h-8 rounded-full border border-gray-800/60 flex items-center justify-center group-hover:bg-primary group-hover:border-primary transition-colors duration-300">
                    <svg class="w-4 h-4 text-foreground group-hover:text-background transition-colors duration-300" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 17L17 7M7 7h10v10"></path>
                    </svg>
                </div>
            </div>
        </a>
        }
    </div>
</section>